@import "~bootstrap/scss/bootstrap";

.card {
	position: relative;
	width: 700px;
	border: 1px solid #bdbdbd;
	border-radius: 8px;
	margin: 30px 0 30px calc(50vw - 350px);
	padding: 5px 20px 20px 20px;
	p a {
		font-size: 18px;
		position: relative;
		top: -20px;
		left: -40px;
		background-color: #ffffff;
		padding: 3px 10px;
		color: #000000;
		text-decoration: none;
		border-radius: 4px;
	}
	div a {
		color: #000000;
		text-decoration: none;
	}
	.card-name {
		font-size: 22px;
		font-weight: 600;
		width: 440px;
		display: inline-block;
	}
	.card-stars {
		width: 150px;
		display: inline-block;
		float: right;
		text-align: center;
	}
	p {
		margin: 0;
	}
	.card-description {
		width: 430px;
		position: relative;
		top: -90px;
	}
	.card-owner {
		padding-bottom: 15px;
		width: 150px;
		position: relative;
		top: 20px;
		left: 510px;
		text-align: center;
		img {
			width: 80px;
			height: 80px;
			position: relative;
		}
	}
	.card-language {
		margin-left: 50px;
	}
}

@media screen and (max-width: 760px) {


.card {
	padding-top: 20px;
	width: 100vw;
	border: 0;
	border-bottom: 1px solid #bdbdbd;
	border-radius: 0;
	margin: 0;
	p a {
		border: 1px solid #bdbdbd;
		border-radius: 4px;
		top: 0;
		left: 0;
	}
	.card-name {
		width: 270px;
	}
	.card-stars {
		width: 100px;
	}
	.card-description {
		border: 1px solid #bdbdbd;
		padding: 2px;
		border-radius: 4px;
		width: 220px;
	}
	.card-owner {
		width: 130px;
		top: 20px;
		left: calc(100vw - 160px);
	}
	.card-language {
		margin-left: 10px;
	}
}

}

@media screen and (max-width: 420px) {

	.card {
		.card-description {
			width: 160px;
			margin: -10px 0 -50px 0;
		}
		.card-language {
			margin-left: 60px;
		}
	}

}